.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: red;
  justify-content: space-between;
  margin-top: 20px;
}
.card-body {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0px;
}
p {
  display: inline;
  color: red;
  margin: auto 0;
  padding: 8px;
}

.buttons-container {
  display: inline;
}
.button {
  display: inline;
  border: 1px solid #000;
  margin: 0;
  width: 44px;
  height: 100%;
}
.delete-button {
  background: red;
}
button div {
  display: inline;
}
.footer-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer-container button {
  height: 24px;
}
